.borde-morado{
    color: rgb(76, 6, 122);
    border-color: rgb(76, 6, 122);
}
.borde-morado:hover{
    background-color: rgb(76, 6, 122);
    color:white;
}
#subir_categoria{
    width: 100%;
}
.letra-morada{
    color: rgb(76, 6, 122);
    text-align: center;
}
.fondo_morado{
    background-color:rgb(78, 5, 121);
    color:white;
    text-decoration: underline;
}
.boton_menu:hover{
    background-color:rgb(135, 38, 190);
}
.fondo{
    background-color:rgb(78, 5, 121);
    color:white;
    text-align:center;
}
td{
    text-align: center;
}