
<form (ngSubmit)="enviarDatos()">
<div class="container align-items-center justify-content-center vh-100" style="margin-top:70px;">
  <div class="card bg-white p-5 rounded-5 text-secondary">
    <div class="row mb-3">
      <div class="col-md-4">
        <h2 class="letra-morada">Título <span *ngIf="error" style="font-size:20px;">*Obligatorio</span></h2>
      </div>
      <div class="col-md-8">
        <textarea id="titulo" [(ngModel)]="titulo" name="titulo" class="fs-3 form-control borde-morado" type="text" [disabled]="desactivar">{{titulo}}</textarea>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <h2 class="letra-morada">Fecha <span *ngIf="error" style="font-size:20px;">Obligatorio</span></h2>
      </div>
      <div class="col-md-8">
        <input type="date" [(ngModel)]="fecha" name="fecha" class="fs-4 form-control borde-morado" [value]="fecha" [disabled]="desactivar">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <h2 class="letra-morada">Descripción <span *ngIf="error" style="font-size:20px;">Obligatorio</span></h2>
      </div>
      <div class="col-md-8">
        <textarea id="descripcion" [(ngModel)]="descripcion" name="descripcion" class="form-control borde-morado" placeholder="Título de la noticia" [disabled]="desactivar">{{descripcion}}</textarea>
      </div>
    </div>
    <ng-container *ngIf="!desactivar">
      <div class="row mb-3">
        <div class="col-md-4">
          <h3 class="letra-morada">¿Quiénes podrán ver la noticia? <span>* <span *ngIf="error" style="font-size:20px;">Obligatorio</span></span></h3>
        </div>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="todos" [(ngModel)]="todos" name="todos" (click)="activar_todos()">
            <label class="form-check-label" for="todos">Todos</label>
          </div>
          <br/>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="estudiantes" [(ngModel)]="estudiantes" name="estudiantes">
            <label class="form-check-label" for="estudiantes">Estudiantes</label>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="profesores" [(ngModel)]="profesores" name="profesores">
            <label class="form-check-label" for="profesores">Profesores</label>
          </div>
          <br>
        </div>
      </div>
    </ng-container>
    <div class="row mb-3">
      <div class="col-md-4">
        <h2 class="letra-morada">Archivo adjunto</h2>
      </div>
    </div>

    <div *ngIf="getOpcion() == 'editar'" class="row mb-3">
      <div class="col">
        <app-pdf-noticia #pdfComponent [opcion]="getOpcion()" [id_noticia]="id_noticia"></app-pdf-noticia>
      </div>
      <div class="col">
        <embed [src]="getPDF(id_noticia)" type="application/pdf" width="100%" height="600px">
      </div>
    </div>


    <div *ngIf="getOpcion() == 'ver'" class="row mb-3">
      <div class="col">
        <embed [src]="getPDF(id_noticia)" type="application/pdf" width="100%" height="600px">
      </div>
    </div>
    
    <button *ngIf="!desactivar" id="guardar" class="btn mb-3" style="margin-left: 5px;" (click)="guardar()" type="submit">Guardar</button>
    <button class="btn custom-bg-purple sombreado" style="margin-left: 5px;" (click)="volver()">
      <span id="volver">Volver</span>
    </button>
  </div>
</div>
</form>